.button{
    color: #dad7cd;
    border: none;
    background-color: #588157;
    font-weight: bold;
    height: 70%;
    width: 25vmin;
    transition: all .2s;
    cursor: pointer;
    font-size: 125%;
}