.box{
    position: absolute;
    z-index: 1000;
    background-color: #4a7c59;
    height: 100%;
    width: 100vmin;
    transition: all .5s;
    transform: translateX(100%);
    display: none;
}
.btn{
    border-radius: 20px;
    cursor: pointer;
    left: 0;
    border: none;
    padding: 7px 20px;
    margin: 10px 10px;
    font-size: 150%;
    font-weight: bold;
    background: linear-gradient(45deg, rgba(220,81,22,1) 0%, rgba(207,112,89,1) 100%);
    transition: all .5s;
}
.btn:hover{
    filter: brightness(90%);
}
.options{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box_check{
    margin-left: 30px;
    width: 100%;
}
.box_check span{
    font-weight: bold;
    font-size: 125%;
}
.checkbox{
    transform: scale(2);
    margin: 15px 15px;
}