.New_obj{
    height: 88%;
    width: 100%;
    z-index: 1;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 50%;
}
.form_input{
    width: 80%;
    height: 90%;
    font-size: 125%;
}
.form_btn{
    background-color: #588157;
    border: none;
    color: white;
    cursor: pointer;
    height: 5.8%;
    width: 40vmin;
    font-size: 150%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}