@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
html, body, #root{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
}
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.leaflet-container{
    height: 92%;
}
.general_btn{
    transition: all .3s;
}
.general_btn:hover{
    filter: brightness(90%);
}
.form{
    display: none;
}