.App{
  height: 100%;
  width: 100%;
  background-color: #344e41;
  display: flex;
  justify-content: flex-end;
}
.box-map{
  height: 100vh;
  width: 100%;
  background-color: #dad7cd;
  box-shadow: 3px 3px 3px;
}